
#header {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    color:white;
    text-align:center;
    padding:5px; }
   #nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 500px;
    width:10%;
    float:left;
    padding:5px; }
   #section {
    width:80%;
    float:left;
    padding:10px; }
   #footer {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    color:white;
    clear:both;
    text-align:center;
    padding:5px; }
    h1 {
        font-size: 36px;
        text-align: center;
        color: #F87DEB;
        margin-bottom: 30px;
        font-weight: normal;
        font-family: 'Playfair Display', serif;
      }
   h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
       color: #7c4777;
      }
    #info{
      margin-top: 2%;
      margin-left: 29%;
      font-size: 28px;
      padding: 0 10px;
      width: 58%;
      background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
  } 
  table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
  }
  
  